*,
*:before,
*:after {
    box-sizing: border-box;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    background: darkblue;
    color: #fff;
    padding: 50px 0;
}
.main-nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.main-nav-list-item {
    display: inline-block;
    margin: 0 15px 0 0;
}
.main-nav-list-item a {
    text-decoration: none;
    color: #fff;
}
.row {
    display: flex;
    min-height: 400px;
}
.col-1 {
    background-color: red;
    width: 300px;
}
.col-2 {
    background-color: darkcyan;
    width: 600px;
}
.col-3 {
    background-color: red;
    width: 300px;
}